.body-wrapper{
    width 78%
}

#flash-success,#flash-error{
    border: 1px solid #037a43;
    background-color: #cdffc6;
    padding: 8px;
    border-radius: .3em;
    color: #057a3a;
    margin-left: 38%;
    display: none;
    z-index: 9999;
    top: 0px;
    font-weight: 600;
    max-width:400px;
    position:absolute;
}

#flash-error{
    border: 1px solid #ff444b;
    background-color: #ffc6c9;
    color: #99282d;
}

.pwd-wrapper{
    margin 30px 0
}

.pwd-subwrapper{
    display inline-block

    img{
        margin-left 6px
    }

    a{
        font-size 18px
        color #333333
        float right
    }
}

.pwd-element{
    cursor pointer
}

.dir-header{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    
    span{
        font-size: 16px;
        font-weight: 700;
        color: #868686;
    }
}
